   
        <div class="d-flex align-items-center justify-content-center mt-5">
            <div class="text-center">
                <h1 class="display-1 fw-bold">Default Error Page</h1>
                <p class="fs-3"> <span class="text-danger">Ooops...</span> There is some problem</p>
                <p class="lead">
                    Something went wrong....
                  </p>
            </div>
        </div>