@{
}
@{
}
<head>
    <link href="~/css/Error.css" rel="stylesheet" />
</head>
<div class="maindiv">
    <div class="number secondarydiv">401</div>
    <div class="text secondarydiv"><span>Unauthorized</span><br>Authorization required</div>
    <a class="me" href="https://codepen.io/uzcho_/pens/popular/?grid_type=list" target="_blank"></a>
</div>

