@{
    ViewData["Title"] = "Home Page";
}
@model MVC.Boilerplate.Models.FileUpload.FileUploadModel
<div class="text-center">
  <img src="~/img/dashboard.PNG" style="width:104.5%; height:auto; margin-left: -2.3%;opacity:0.7;  ">
</div>
