@model MVC.Boilerplate.Models.Category.Commands.CreateCategory
@{
    ViewData["Title"] = "Create Category";
}
<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item active"><a>Create Category</a></li>
        </ol>
    </nav>
</div>
<div class="card my-2 border">
    <div class=" card-header">
        <h3>@ViewData["Title"]</h3>
        <form asp-controller="Category" asp-action="CreateCategory">
            <div class="form-group">
                <label class="form-label"></>Name</label>
                <input type="text" class="form-control" asp-for="Name" placeholder="Category Name">
                 <span asp-validation-for="Name" class="text-danger"></span>
            </div><br />
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
